rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Sessions Collection
    match /sessions/{sessionId} {
      allow read, write: if true;
    }

    // Events Collection
    match /events/{eventId} {
      allow read, write: if true;
    }

    // Frames Collection
    match /frames/{frameId} {
      allow read, write: if true;
    }
  }
}
